.dropdown-holder {
  width: 100%;
  position: relative;
}
.dropdown-box {
  display: flex;
  width: auto;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid #ccc;
  transition: border-bottom 0.3s ease 0.3s; /* delay showing border */
}

.dropdown-list {
  position: absolute;
  border: 0px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden; /* hide content when collapsed */
  max-height: 0; /* collapsed by default */
  transition: max-height 0.3s ease-in-out, border 0.3s ease-in-out;
}

.dropdown-box.open {
  border-bottom: 0 solid transparent; /* hide immediately */
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: border-bottom 0.3s ease 0s; /* hide instantly, show delayed */
}
.dropdown-list.open {
  max-height: 300px;
  border: 1px solid #ccc;
  border-top: none;
  overflow-y: auto;
}

span.item-select-icon::before {
  content: "";
}

span.item-select-icon.active::before {
  content: "✓ ";
}

.dropdown-item.active {
  font-weight: bold;
  background-color: #f1f1f1;
}

.dropdown-item {
  padding: 5px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.dropdown-selected {
  overflow: hidden;
  text-wrap: nowrap;
  margin-left: 5px;
}

.item-select-icon {
  width: 10px;
}

.item-text {
  margin-left: 10px;
}
